<!-- スタイルシートの読み込み -->
<style> #map { 	width: 100% ;  height: 350px ; }</style>
<!-- Google Mapsライブラリの読み込み -->
<script>
    var map;
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%=@res['rest']['latitude']%>, lng: <%=@res['rest']['longitude']%>},
            zoom: 15
        });
        marker = new google.maps.Marker( {
            map: map ,	// 地図
            position: new google.maps.LatLng( <%=@res['rest']['latitude']%>, <%=@res['rest']['longitude']%> ) ,	// 位置座標
        } ) ;
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfGTbo2BRK53wdVBI_tRN4_s879R_XYLI&callback=initMap"></script>
<!-- 地図が描画されるキャンパス -->
<div id="map">ここに地図が表示されます</div>

