
<div class="container">

  <%
    if @res['total_hit_count'].to_i > 0 then
      result = @res['total_hit_count'] + '件の結果が見つかりました。'
    else
      result = '結果が見つかりませんでした。'
    end
  %>

  <!--todo レストラン検索、位置情報で検索機能-->
  <div class="jumbotron">
    <h1>レストラン検索</h1>
    <p>検索条件を入力してください。</p>
    <p>
      現在地から
      半径 以内を検索
      <a class="btn btn-success btn-lg" href="#">検索する</a>

      <br>検索結果 : <%= result %>

    </p>
  </div>



  //１ページの一覧(12個ずつ)
  <div id="show">
    <%= render :partial =>'showAll' %>
  </div>
  <!--todo ajaxページングにする-->
  <%= link_to pages_path(@res['page_offset'].to_i+1) ,:remote => false , method: 'get' do %>aa
  <%end%>
  update_path(),
  @res['page_offset'].to_i
  , :locals => { page: '3' }
</div>