
<div class="container">

  <!--レストラン一覧(hit_per_page個ずつ)-->
  <div id="show">
    <%= render :partial =>'showAll' %>
  </div>

  <!--ページング-->
  <div id="paging">
    <%= render :partial =>'paging' %>
  </div>
</div>