<!DOCTYPE html>
<html>
  <head>
    <title>レストラン検索</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!--位置情報を取得-->
    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                // success callback
                function(position) {
                    document.querySelector('#latitude').textContent = "latitude: " + position.coords.latitude;
                    document.querySelector('#longitude').textContent = "longitude: " + position.coords.longitude;
                },
                // error callback
                function(position) {
                    alert( "can't get position" );
                }
            )
        }
    </script>
  </head>

  <body>
    <!-- Navbar Start-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand text-muted" href="/">HOME</a>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">検索</a></li>
          <li><a href="#">地図</a></li>
        </ul>
      </div>
    </div>
    <!-- End of Navber -->

    <%= yield %>

  </body>
</html>
